html {
	font-family: 'Yeon Sung', cursive;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-image: url('../assets/html-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

img {
	width: 200px;
	height: auto;
}

h2 {
	color: aliceblue;
	font-size: 34px;
	margin-top: 0;
}

h3 {
	color: #ffffff;
	font-size: 25px;
}
